{# {% extends 'base.html.twig' %}


{% block body %}

<div>
<pre>
    {{ dump(prueba) }}
</pre>
</div>



<div>
<label for="user">Nombre</label>
</div>
<input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre">



<a href="{{ path('index') }}">Ingresar al chat</a>

{% endblock %} #}