{% extends 'base.html.twig' %}


{% block body %}

<div>
<h2>Login</h2>
</div>

<div>
<pre>
    {{ dump(prueba) }}
</pre>
</div>

<form action="">

<div>
<label for="user">Usuario</label>
</div>
<input type="text">

<div>
<label for="contraseña"></label>
</div>

</form>


{% endblock %}